<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
	https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">

	<display-name>team404</display-name>

	<!-- ===== Root Context ===== -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
        /WEB-INF/spring/root-context.xml
        /WEB-INF/spring/security-context.xml
    </param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


	<!-- ===== UTF-8 Encoding ===== -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- ===== Hidden Method (PUT, DELETE 지원) ===== -->
	<filter>
		<filter-name>httpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	    <init-param>
        <param-name>allowedMethods</param-name>
        <param-value>PUT,DELETE,PATCH</param-value>
    </init-param>
	</filter>

	<filter-mapping>
		<filter-name>httpMethodFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- ===== DispatcherServlet ===== -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml
			</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>

		<!-- Multipart 설정 (핵심) -->
		<multipart-config>
			<location>C:/team404_upload/temp</location>
			<max-file-size>5000000</max-file-size>
			<max-request-size>20000000</max-request-size>
		</multipart-config>

	</servlet>

	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	

	<!-- ===== Session ===== -->
	<!-- <session-config> <session-timeout>30</session-timeout> <cookie-config> 
		<http-only>true</http-only> </cookie-config> <tracking-mode>COOKIE</tracking-mode> 
		</session-config> -->

	<!-- ===== Error Page ===== -->

	<!-- <error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/error/404.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/error/500.jsp</location>
	</error-page>

	
 -->


	<!-- <error-page> <error-code>404</error-code> <location>/WEB-INF/views/error/404.jsp</location> 
		</error-page> <error-page> <error-code>500</error-code> <location>/WEB-INF/views/error/500.jsp</location> 
		</error-page> -->

</web-app>